{{ feed_hostname }} {
  tls {{ tls_contact_email }}
  @blocked {
    path /debug/*
  }
  respond @blocked 403
  @dev query feed=at://{{ feed_publisher_did }}/app.bsky.feed.generator/replies-foll
  reverse_proxy @dev  http://localhost:4000 http://localhost:3000 {
    lb_policy first
    lb_retries 5
    fail_duration 5s
    health_uri /.well-known/did.json
  }
  reverse_proxy http://localhost:3000
}