[Unit]
Description=Feed Generator
After=network.target

[Service]
ExecStart=/opt/feedgenerator/feedgenerator
WorkingDirectory=/opt/feedgenerator
Restart=always
User=feedgenerator
Environment=PATH=/usr/bin:/usr/local/bin
Environment=FEEDGEN_PORT=3000
Environment=FEEDGEN_LISTENHOST=localhost
Environment=FEEDGEN_SUBSCRIPTION_ENDPOINT=wss://bsky.network
Environment=JETSTREAM_SUBSCRIPTION_ENDPOINT=wss://jetstream2.us-west.bsky.network/subscribe
Environment=FEEDGEN_SQLITE_LOCATION="/home/feedgenerator/feed-data.db"
Environment=FEEDGEN_PUBLISHER_DID={{ feed_publisher_did }}
Environment=FEEDGEN_HOSTNAME={{ feed_hostname }}
Environment=PROFILES_DIR=/home/feedgenerator/profiles
Environment=FOLLOW_FARMERS_LIST=at://did:plc:e4elbtctnfqocyfcml6h2lf7/app.bsky.graph.list/3ljj5caa56l2k
#Environment=FOLLOW_FARMERS_LIST=at://did:plc:ocsbmyulc2grbq3esflddyj6/app.bsky.graph.list/3lasodgegrc2a
#Environment=GOMEMLIMIT=100MiB

[Install]
WantedBy=multi-user.target
