[Unit]
Description=Feed Generator
After=network.target

[Service]
ExecStart=/opt/feedgenerator/feedgenerator
WorkingDirectory=/opt/feedgenerator
Restart=always
User=feedgenerator
Environment=PATH=/usr/bin:/usr/local/bin
Environment=FEEDGEN_PORT=3000
Environment=FEEDGEN_LISTENHOST=localhost
Environment=FEEDGEN_SUBSCRIPTION_ENDPOINT=wss://bsky.network
Environment=FEEDGEN_SQLITE_LOCATION="/home/feedgenerator/feed-data.db"
Environment=FEEDGEN_PUBLISHER_DID={{ feed_publisher_did }}
Environment=FEEDGEN_HOSTNAME={{ feed_hostname }}
Environment=GOMEMLIMIT=100MiB

[Install]
WantedBy=multi-user.target
